{% load static %}
{% load bootstrap3 %}
<! DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap3/css/bootstrap.css" %}">
	<!--<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap2.css" %}">-->
</head>
<style>
	#login
	{
	text-align:center;
	border: 3px;
	border-style:groove;
	max-width:340px;
	width:auto;
	margin:auto;
	margin-top:150px;
	border-left-color: #33CCFF;
	border-top-color: #33CCFF;
	border-right-color: #FFFF66;
	border-bottom-color: #FFFF66;
	background-color: #eaeaea;
	}
</style>

<body>
<div class="row col-sm-12">
<fieldset id="login" class="row col-sm-12">
<form method="post" action="" style="margin-top:15px">
{% csrf_token %}
{% bootstrap_form form %}
{% bootstrap_form_buttons %}
<input class="btn btn-info" type="submit" value="login" id="loginbutton"/>
<input type="hidden" name="next" value="/profile" />
{% end_bootstrap_form_buttons %}
</fieldset>
</form>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44051468-1', 'fitbruin.com');
  ga('send', 'pageview');

</script>
</body>
</html>

