{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
	{% block content %}
	<head>
		<div class="row">
		<dl class="col-sm-12">
			<dt><h2 class="text-info">Fit Bruin</h2></dt>
			<dd><h4 class="text-warning">Fit Bruin is a calorie counter application, created by Bruins for Bruins, dedicated to helping students lead healthier lives by allowing them to easily keep track of their diet while eating on campus.</h4></dd>
		</dl>
		</div>
	</head>
	<body>
		<div class="row">
		<dl class="col-sm-12">
			<dt><h2 class="text-info">Creators</h2></dt>
			<dd>
				<ul>
				<h3 class="text-warning">Website</h3>
				<ul class="list-unstyled">
					<li style="text-indent:15px"><h4><a style="text-decoration:none;" class="text-info" href="http://seas.ucla.edu/~veer/portfolio/" target="_blank">Karan Kajla</a></h4></li>
				</ul>
				<h3 class="text-warning">Design</h3>
				<ul class="list-unstyled">
					<li style="text-indent:15px"><h4 style="text-decoration:none" class="text-info">Allison Light</h4></li>
					<li style="text-indent:15px"><h4 style="text-decoration:none" class="text-info"><a style="text-decoration:none" class="text-info" href="http://seas.ucla.edu/~veer/portfolio/" target="_blank">Karan Kajla</a></h4></li>
				</ul>
				<h3 class="text-warning">Logo & Images</h3>
				<ul class="list-unstyled">
					<li style="text-indent:15px"><h4 style="text-decoration:none" class="text-info">Allison Light</h4></li>
				</ul>
				<h3 class="text-warning">Sources</h3>
				<ul class="list-unstyled">
					<li style="text-indent:15px"><h4 style="text-decoration:none" class="text-info"><a style="text-decoration:none" class="text-info" href="http://en.wikipedia.org/wiki/Basal_metabolic_rate#BMR_estimation_formulas" target="_blank">Basal Metabolic Rate</a></h4></li>
					<li style="text-indent:15px"><h4><a style="text-decoration:none" class="text-info" href="http://en.wikipedia.org/wiki/Harris%E2%80%93Benedict_equation" target="_blank">Harris Benedict Equation</a></h4></li>
					<li style="text-indent:15px"><h4><a style="text-decoration:none" class="text-info" href="http://fnic.nal.usda.gov/dietary-guidance/dietary-reference-intakes" target="_blank">Dietary Reference Intakes</a></h4></li>
				</ul>
				<h3 class="text-warning">Data</h3>
				<ul class="list-unstyled">
					<li style="text-indent:15px"><h4 class="text-info">All nutritional data provided by <a style="text-decoration:none" class="text-info" href="http://dining.ucla.edu/" target="_blank">UCLA Dining Services</a>.</h4></li>
				</ul> 
			</dd>
		</dl>
		</div>
		<footer class="text-info">
			<center>fitbruin.com is not partnered with UCLA in any way.</center>
		</footer>
	</body>
	{% endblock %}
</html>
