{% extends "base.html" %}
{% load static %}
{% load bootstrap_toolkit %}

<!DOCTYPE html>
<html>
	{% block content %}
	<head>
		<div>
			<dl>
				<dt><h2 class="text-info">Dinner</h2></dt>
				<dd><h4 class="text-warning">Check mark items you have eaten from the dropdown menus and click <button class="btn btn-info">Add Items</button> to add the items to your food log. Click <span class="glyphicon glyphicon-list" style="color:black"></span> to view detailed nutrition facts about an item.</h4></dd>
				<dd><h4 class="text-info">Feast at Rieber Dinner Menu for {{ date }}</h4></dd>
			<dl>
		</div>
	</head>
	<body>
		<form method="post" action="">
		{% csrf_token %}
			<div class="panel-group" id="accordionmain">
					<div class="panel panel-default">
						<div class="panel-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionmain" href="#BruinWok" style="text-align:center">
								<h4 class="panel-title" style="text-align:center">Bruin Wok <span class="glyphicon glyphicon-chevron-down glyphicon-white" style="float:right"></span></h4>
							</a>
						</div>
						<div id="BruinWok" class="accordion-body collapse in">
							<div class="accordion-inner">
								<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<!--<thead>
										<th class="well" style="text-align:center">Soups</th>
									</thead>-->
									<tbody>
										{% if form.fields.bruin_wok.choices|length_is:"0" %}
										<tr class="success">
											<td class="fieldWrapper">None</td>
										</tr>
										{% else %}
										{% for choice in form.bruin_wok %}
											{{ choice }}
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionmain" href="#SpiceKitchen" style="text-align:center">
								<h4 class="panel-title" style="text-align:center">Spice Kitchen <span class="glyphicon glyphicon-chevron-down glyphicon-white" style="float:right"></span></h4>
							</a>
						</div>
						<div id="SpiceKitchen" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<!--<thead>
										<th class="well" style="text-align:center">Soups</th>
									</thead>-->
									<tbody>
										{% if form.fields.spice_kitchen.choices|length_is:"0" %}
										<tr class="success">
											<td class="fieldWrapper">None</td>
										</tr>
										{% else %}
										{% for choice in form.spice_kitchen %}
											{{ choice }}
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionmain" href="#GreensandMore" style="text-align:center">
								<h4 class="panel-title" style="text-align:center">Greens & More <span class="glyphicon glyphicon-chevron-down glyphicon-white" style="float:right"></span></h4>
							</a>
						</div>
						<div id="GreensandMore" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<!--<thead>
										<th class="well" style="text-align:center">Soups</th>
									</thead>-->
									<tbody>
										{% if form.fields.greens_and_more.choices|length_is:"0" %}
										<tr class="success">
											<td class="fieldWrapper">None</td>
										</tr>
										{% else %}
										{% for choice in form.greens_and_more %}
											{{ choice }}
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionmain" href="#IronGrill" style="text-align:center">
								<h4 class="panel-title" style="text-align:center">Iron Grill <span class="glyphicon glyphicon-chevron-down glyphicon-white" style="float:right"></span></h4>
							</a>
						</div>
						<div id="IronGrill" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<!--<thead>
										<th class="well" style="text-align:center">Soups</th>
									</thead>-->
									<tbody>
										{% if form.fields.iron_grill.choices|length_is:"0" %}
										<tr class="success">
											<td class="fieldWrapper">None</td>
										</tr>
										{% else %}
										{% for choice in form.iron_grill %}
											{{ choice }}
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionmain" href="#StoneOven" style="text-align:center">
								<h4 class="panel-title" style="text-align:center">Stone Oven <span class="glyphicon glyphicon-chevron-down glyphicon-white" style="float:right"></span></h4>
							</a>
						</div>
						<div id="StoneOven" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<!--<thead>
										<th class="well" style="text-align:center">Soups</th>
									</thead>-->
									<tbody>
										{% if form.fields.stone_oven.choices|length_is:"0" %}
										<tr class="success">
											<td class="fieldWrapper">None</td>
										</tr>
										{% else %}
										{% for choice in form.stone_oven %}
											{{ choice }}
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionmain" href="#Sweets" style="text-align:center">
								<h4 class="panel-title" style="text-align:center">Sweets <span class="glyphicon glyphicon-chevron-down glyphicon-white" style="float:right"></span></h4>
							</a>
						</div>
						<div id="Sweets" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<!--<thead>
										<th class="well" style="text-align:center">Soups</th>
									</thead>-->
									<tbody>
										{% if form.fields.sweets.choices|length_is:"0" %}
										<tr class="success">
											<td class="fieldWrapper">None</td>
										</tr>
										{% else %}
										{% for choice in form.sweets %}
											{{ choice }}
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
					</br>
					<div class="row col-sm-12" style="float:none; text-align:center">
					<input class="btn btn-info" type="submit" value="Add Item(s)">
					</div>
			</div>
		</form>
	</body>
	{% endblock %}
</html>
