{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
	{% block content %}
	<head>
		<dl>
			<dt><h2 class="text-info">Top Tens</h2></dt>
			<dd><h4 class="text-warning">View the top ten foods of the day in several categories</h4></dd>
		</dl>
	</head>
	<body>
		<div id="breakfast">
			<div class="row">
				<h3 class="text-info" style="text-align:center">Breakfast</h3>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Calories</th>
						</thead>	
						<tbody>				
						{% for item in mostcaloriesbreakfast %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.calories }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Fat</th>
						</thead>
						<tbody>
						{% for item in mostfatbreakfast %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.total_fat }}{{ item.total_fat_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Protein</th>
						</thead>
						<tbody>
						{% for item in mostproteinbreakfast %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.protein }}{{ item.protein_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>	
			</div>
		</div>
		<div id="lunch">
			<div class="row">
				<h3 class="text-info" style="text-align:center">Lunch</h3>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Calories</th>
						</thead>	
						<tbody>				
						{% for item in mostcalorieslunch %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.calories }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Fat</th>
						</thead>
						<tbody>
						{% for item in mostfatlunch %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.total_fat }}{{ total_fat_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Protein</th>
						</thead>
						<tbody>
						{% for item in mostproteinlunch %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.protein }}{{ item.protein_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>	
			</div>
		</div>
		<div id="dinner">
			<div class="row">
				<h3 class="text-info" style="text-align:center">Dinner</h3>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Calories</th>
						</thead>	
						<tbody>				
						{% for item in mostcaloriesdinner %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.calories }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Fat</th>
						</thead>
						<tbody>
						{% for item in mostfatdinner %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.total_fat }}{{ item.total_fat_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Protein</th>
						</thead>
						<tbody>
						{% for item in mostproteindinner %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.protein }}{{ item.protein_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>	
			</div>
		</div>
		<div id="feast">
			<div class="row">
				<h3 class="text-info" style="text-align:center">Feast at Rieber</h3>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Calories</th>
						</thead>	
						<tbody>				
						{% for item in mostcaloriesfeast %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.calories }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Fat</th>
						</thead>
						<tbody>
						{% for item in mostfatfeast %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.total_fat }}{{ item.total_fat_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Protein</th>
						</thead>
						<tbody>
						{% for item in mostproteinfeast %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.protein }}{{ item.protein_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>	
			</div>
		</div>
		<div id="cafe1919">
			<div class="row">
				<h3 class="text-info" style="text-align:center">Cafe 1919</h3>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Calories</th>
						</thead>	
						<tbody>				
						{% for item in mostcaloriescafe1919 %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.calories }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Fat</th>
						</thead>
						<tbody>
						{% for item in mostfatcafe1919 %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.total_fat }}{{ item.total_fat_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Protein</th>
						</thead>
						<tbody>
						{% for item in mostproteincafe1919 %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.protein }}{{ item.protein_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>	
			</div>
		</div>
		<div id="bruincafe">
			<div class="row">
				<h3 class="text-info" style="text-align:center">Bruin Cafe</h3>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Calories</th>
						</thead>	
						<tbody>				
						{% for item in mostcaloriesbruincafe %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.calories }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Fat</th>
						</thead>
						<tbody>
						{% for item in mostfatbruincafe %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.total_fat }}{{ item.total_fat_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Protein</th>
						</thead>
						<tbody>
						{% for item in mostproteinbruincafe %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.protein }}{{ item.protein_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>	
			</div>
		</div>
		<div id="rendezvous">
			<div class="row">
				<h3 class="text-info" style="text-align:center">Rendezvous</h3>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Calories</th>
						</thead>	
						<tbody>				
						{% for item in mostcaloriesrendezvous %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.calories }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Fat</th>
						</thead>
						<tbody>
						{% for item in mostfatrendezvous %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.total_fat }}{{ item.total_fat_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Protein</th>
						</thead>
						<tbody>
						{% for item in mostproteinrendezvous %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.protein }}{{ item.protein_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>	
			</div>
		</div>
		<div id="latenight">
			<div class="row">
				<h3 class="text-info" style="text-align:center">De Neve Late Night</h3>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Calories</th>
						</thead>	
						<tbody>				
						{% for item in mostcalorieslatenight %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.calories }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Fat</th>
						</thead>
						<tbody>
						{% for item in mostfatlatenight %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.total_fat }}{{ item.total_fat_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
	
				<div class="col-sm-4">
					<table class="table table-bordered table-hover">
						<thead>
							<th class="well" style="text-align:center">Most Protein</th>
						</thead>
						<tbody>
						{% for item in mostproteinlatenight %}
							<tr class="success">
								<td style="text-align:center">{{ item.name }} - {{ item.protein }}{{ item.protein_units }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>

				<div class="col-sm-4">
				</div>	
			</div>
		</div>
	</body>
	{% endblock %}
</html>
